<div class="quicksearch-container" *ngIf="showBtn">
  <div *ngFor="let m of merchants | orderBy : 'name' : true" class="list-group">
    <a class="list-group-item" (click)="goToMerchant(m)">
      <div class="media-box">
        <div class="pull-left img-container">
          <img *ngIf="m.imageSource" [src]="imagePreUrl+m.imageSource+'-sm'" style="width:60px; height:60px;">
          <img *ngIf="!m.imageSource" src="../../assets/images/merchant-sm.png" style="width:60px; height:60px;">
        </div>
        <div class="media-box-body clearfix">
          <div class="body-container">
            <p class="m0">{{m.shortName}}</p>
            <p class="m0 text-muted text-danger" *ngIf="!m.open"> 
              <small>本店暂停营业</small>
            </p>
            <p class="m0 text-muted">
              <small>全称 -- {{m.name}}</small>
            </p>
            <p class="m0 text-muted">
              <small>地址 -- {{m.address}}</small>
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<ticket-navbar></ticket-navbar>