<div class="container">
  <div class="card text-center query-panel" *ngIf="merchant.name">
    <div class="card-header">
      {{merchant.name}}
    </div>
    <div class="card-block">
      <form [formGroup]="form">
        <div class="form-group" style="margin-top:10px;">
          <label class="col-md-2 form-control-label">备注/桌号/特殊需求</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="remark">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 form-control-label">捜索（商品名称/编号）</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="code" (ngModelChange)="valuechange($event)">
            <div *ngIf="getFormControl('code').invalid">
              长度1-10个字符
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="show-panel">
    <div *ngFor="let p of products" class="list-group">
      <a class="list-group-item">
        <div class="media-box">
          <div class="float-left">
            <img *ngIf="p.imageSource" [src]="imagePreUrl+p.imageSource+'-sm'" style="width:50px; height:50px;">
            <img *ngIf="!p.imageSource" src="../../assets/images/orderpic_03.png" style="width:50px; height:50px;">
          </div>
          <div class="float-right"
            *ngIf="(p.status === 1 ||(!p.infinite && p.unitsInStock === 0)) == true ? false : true">
            <button class="btn-floating btn-sm btn-info waves-effect waves-light" (click)="addCart($event,p)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
          <div class="media-box-body clearfix">
            <div class="body-container">
              <p class="m0">{{p.name}}</p>
              <p class="m0 text-muted">
                <small>单价：</small>
                <small class="green">￥{{getProductDiscount(p) | number }}</small>
              </p>
            </div>
          </div>          
        </div>
      </a>
      <div class="product-properties" *ngIf="p.showProperties">
          <div *ngFor="let productProperty of p.productProperties">
            <ListItem class="pop-property" Picker [extra]="productProperty.name" [arrow]="'horizontal'"
              [data]="productProperty.values" [(ngModel)]="productProperty.selectedValue">
              {{ productProperty.selectedValue? productProperty.selectedValue : productProperty.defaultValue}}
            </ListItem>
          </div>
          <div class="product-property-btn">
            <button type="submit" class="btn btn-info btn-block"
              (click)="addCartWithProperty($event,p)">完&nbsp;成</button>
          </div>
        </div>
    </div>
  </div>
</div>